/* Die Kommentare dienen zur Verständnis, wieso trotz Bootstrap zusätzlich
ein eigenes CSS verwendet wurde. */
/* Hintergrundbild */
body {
    background-image: url("../images/bg2.jpg");
}

/* Damit der Footer immer am Ende der Seite ist */
#footer {
    bottom: 0;
    width: 100%;
    position: absolute;
}
